name: Run tests
on:
  - push
  - pull_request

env:
  RUST_BACKTRACE: 1

jobs:
  linting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - uses: dtolnay/rust-toolchain@56f84321dbccf38fb67ce29ab63e4754056677e0
        with:
          toolchain: "1.78"
          components: rustfmt, clippy
      - name: Run rustfmt
        run: 'cargo fmt --all --check'
      - name: Run clippy
        run: 'cargo clippy --all-targets --all-features -- -D warnings'

  windows-msvc:
    strategy:
      fail-fast: false
      matrix:
        toolchain:
          - 1.78.0
          - stable
    runs-on: windows-latest
    name: windows-msvc ${{ matrix.toolchain }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - uses: dtolnay/rust-toolchain@56f84321dbccf38fb67ce29ab63e4754056677e0
        with:
          toolchain: ${{ matrix.toolchain }}
      - name: Run tests
        run: cargo test

  windows-gnu:
    strategy:
      fail-fast: false
      matrix:
        toolchain:
          - 1.78.0-gnu
          - stable-gnu
    runs-on: windows-latest
    name: windows-gnu ${{ matrix.toolchain }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - name: Setup MSYS2
        uses: msys2/setup-msys2@61f9e5e925871ba6c9e3e8da24ede83ea27fa91f
        with:
          release: false
          path-type: inherit
      - uses: dtolnay/rust-toolchain@56f84321dbccf38fb67ce29ab63e4754056677e0
        with:
          toolchain: ${{ matrix.toolchain }}
      - name: Run tests
        shell: msys2 {0}
        run: cargo test

  macos:
    strategy:
      fail-fast: false
      matrix:
        runner:
          - macos-13
          - macos-14
        toolchain:
          - 1.78.0
          - stable
        features:
          - "--no-default-features"
          - "--features system"
    runs-on: ${{ matrix.runner }}
    name: ${{ matrix.runner }} ${{ matrix.toolchain }} ${{ matrix.features }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - name: Install dependencies
        run: brew install autoconf automake libtool libffi
      - uses: dtolnay/rust-toolchain@56f84321dbccf38fb67ce29ab63e4754056677e0
        with:
          toolchain: ${{ matrix.toolchain }}
      - name: Run tests
        run: 'cargo test ${{ matrix.features }}'

  linux:
    strategy:
      fail-fast: false
      matrix:
        runner:
          - ubuntu-24.04
          - ubuntu-24.04-arm
        toolchain:
          - 1.78.0
          - stable
        features:
          - "--no-default-features"
          - "--features system"
    runs-on: ubuntu-latest
    name: ${{ matrix.runner }} ${{ matrix.toolchain }} ${{ matrix.features }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - uses: dtolnay/rust-toolchain@56f84321dbccf38fb67ce29ab63e4754056677e0
        with:
          toolchain: ${{ matrix.toolchain }}
      - name: Run tests
        run: 'cargo test ${{ matrix.features }}'
